body {
    margin: 0;
}

canvas {
    border: 0.3rem solid black;
    width: 500px;
    height: 500px;
    margin-top: 1rem;
    margin-left: 1rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.coldiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rowdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}